---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc" style="font-size: 18px">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <!-- <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2> -->
            <h1 style="font-size: 30px; margin-bottom: 10px; margin-top: 25px;">News</h1>
            {%- include news.html limit=true %}
          {%- endif %}

          <h1 style="font-size: 30px; margin-bottom: 15px; margin-top: 20px;">Research</h1>
          <p style="margin: 0">
            <b>RETSim: Resilient and Efficient Text Similarity
            </b><br>
            <b>Marina Zhang</b>, Owen Vallis, Aysegul Bumin, Tanay Vakharia, and Elie Bursztein.<br>
            In <i>International Conference on Learning Representations (ICLR)</i>, 2024. (To appear) <br> 
            [<a href="https://arxiv.org/abs/2311.17264">paper</a>] [<a href="https://github.com/google/unisim">code</a>]
          </p>

          <p style="margin: 0; margin-top: 15px;">
          <b>RETVec: Resilient
            and Efficient Text Vectorizer</b><br>
            Elie Bursztein, <b>Marina Zhang</b>, Owen Vallis, Xinyu Jia, and Alexey Kurakin.<br>
            In <i>Advances in Neural Information Processing Systems (NeurIPS)</i>, 2023. <br>
            [<a href="https://arxiv.org/abs/2302.09207">paper</a>] [<a href="https://github.com/google-research/retvec">code</a>]
          </p>

          <p style="margin: 0; margin-top: 15px;">
            <b>Generic Attacks against Cryptographic Hardware through Long-Range Deep Learning</b><br>
            Elie Bursztein, Luca Invernizzi, Karel Král, Daniel Moghimi, Jean-Michel Picod, and <b>Marina Zhang</b>.<br>
            <i>arXiv preprint</i>, 2023.<br>
            [<a href="https://arxiv.org/abs/2306.07249">paper</a>] [<a href="https://github.com/google/scaaml">code</a>]
          </p>

          <p style="margin: 0; margin-top: 15px;">
            <b>Machine Learning-based Clustering and Classification of Mouse Behaviors via Respiratory Patterns</b><br>

            Emma Janke, <b>Marina Zhang</b>, Sang Eun Ryu, Janardhan Bhattarai, Mary Schreck, Andrew Moberly, Wenqin Luo, Long Ding, Daniel Wesson, and Minghong Ma.
            <br>
            In <i>iScience (Cell Press) Vol. 25</i>, 2022. <br>
            [<a href="https://doi.org/10.1016/j.isci.2022.105625">paper</a>]
          </p>

          <p style="margin: 0; margin-top: 15px;">
            <b>Scratch-AID: A Deep-learning Based System for Automatic Detection
              of Mouse Scratching Behavior with High Accuracy</b><br>
              Huasheng Yu, Jingwei Xiong, Adam Yongxin Ye, Suna Li Cranfill, Tariq Cannonier, Mayank Gautam, <b>Marina Zhang</b>, Rayan Bilal, Jong-Eun Park, Yuji Xue, Vidhur Polam, Zora Vujovic, Daniel Dai, William Ong, Jasper Ip, Amanda Hsieh, Nour Mimouni, Alejandra Lozada, Medhini Sosale, Alex Ahn, Minghong Ma, Long Ding, Javier Arsuaga, and Wenqin Luo.
            <br>
            In <i>eLife Vol. 11</i>, 2022. <br>
            [<a href="https://doi.org/10.7554/eLife.84042">paper</a>]
          </p>
        
          <!-- Latest posts
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %} -->

          <!-- Selected papers -->
          <!-- {% if page.selected_papers -%}
            <h2><a href="{{ '/research/' | relative_url }}" style="color: inherit;">Research</a></h2>
            {%- include selected_papers.html %}
          {%- endif %} -->


          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
